@keyframes tutorial-circle
  0%
    height: 50px
    left: 216px
    top: 186px
    width: 50px
  50%
    height: 75px
    left: 203px
    top: 173px
    width: 75px
  100%
    height: 50px
    left: 216px
    top: 186px
    width: 50px


.stack > .classifier

  .left 
    width: 575px
    height: 447px
    padding: 0px 40px 0 0
    display: inline-block
    vertical-align: top_bar
    position: relative

    .video-container
      position: relative
      width: 575px
      height: 432px
      border: 2px solid black
      z-index: 0

      .tutorial-circle
        animation: 1.5s tutorial-circle linear infinite
        border: 2px solid #f00
        border-radius: 50%
        box-shadow: inset 0 0 5px 0 rgba(#000, 0.4), 0 0 5px 0 rgba(#000, 0.4)
        height: 50px
        left: 216px
        position: absolute
        top: 186px
        width: 50px

      .video-border
        border: 9px solid #000
        box-shadow: inset 0 0 10px 1px rgba(#000, 0.7)
        box-sizing: border-box
        height: 100%
        position: absolute
        width: 100%
        z-index: 1

      #worm-video
        position: relative

      .overlay
        background: rgba(#000, 0.5)
        display: none
        height: 100%
        position: absolute
        width: 100%
        z-index: 1

      video, object
        width: 575px
        height: 432px

      .vjs-control
        display: none

      .vjs-controls
        bottom: 13px
        display: none
        left: 16px
        padding: 10px 0 0 0
        position: absolute

      .vjs-time-divider, .vjs-duration, .vjs-current-time
        display: block
        float: left
        font-size: 16px
        font-weight: 700
        margin: 0 5px 0 0

    .countdown
      color: white
      font-size: 300px
      height: 432px
      left: 0
      position: absolute
      top: 40px
      text-align: center
      text-shadow: 0 0 10px rgba(#000, 0.5)
      width: 575px
      z-index: 1

  .right
    color: #fff
    display: inline-block
    font-size: 13px
    font-weight: 700
    text-shadow: 0 1px 0 #0089c8
    vertical-align: top
    width: 360px

    > div.section
      border-top: 1px solid #0283AF
      padding: 18px 0

    .prompt
      text-shadow: none
      font-size: 22px
      box-shadow: 1px 1px solid rgba(0,0,0,0.6)

    .subject-info
      padding: 15px 0px 15px 0px
      width: 100%

      img 
        box-shadow: 0 1px 0 0 rgba(#60d4ff, 1)
        display: inline-block
        margin: 0 10px 0 0
        padding: 0
        vertical-align: top

      .details
        display: inline-block
        vertical-align: top
        width: 285px

        h2, p
          padding: 0px
          margin: 0px

        p
          font-size: 0.9em

    .players
      @extends #clearfix
      padding: 0 !important // sigh

      .player
        box-sizing: border-box
        float: left
        height: 204px
        overflow: hidden
        margin: 0
        padding: 10px
        width: 50%

        &:first-child 
          border-right: 1px solid #0283AF
          box-sizing: border-box
          position: relative

          &:before
            background: url(images/bg-site-gradient.png) repeat
            bottom: 0
            content: ""
            height: 30px
            position: absolute
            width: 100%

        .name
          color: #003140
          font-size: 12px
          font-weight: 700
          text-shadow: none

        .sign-in
          cursor: pointer

          &:hover
            text-decoration: underline

        p
          margin: 1px 0

    .times
      @extends #semantic-list

      .time
        font-size: 12px
        margin: 0

        span
          color: #000
          text-shadow: 0 1px 0 rgba(#fff, 0.7)

    .actions
      padding: 14px 0 0 0 !important // sigh

      button
        @extends #small-button
        transition: all 0.3s ease-in-out

        &.disabled
          cursor: not-allowed
          opacity: 0.5

  .bubble 
    background: #ecf3f8
    border-radius: 0px
    box-shadow: 0 3px 6px 0 rgba(#000, 0.15), inset 0 2px 0 0 #fff
    box-sizing: border-box
    color: #003143
    cursor: pointer
    font-size: 24px
    font-weight: 700
    height: 100px
    padding: 17px 24px
    position: relative
    text-shadow: 0 1px 0 #fff
    width: 360px

    &:after
      border-color: transparent #ecf3f8
      border-style: solid
      border-width: 15px 15px 15px 0
      content: ""
      display: block
      left: -15px
      position: absolute
      top: 35px
      width: 0
      z-index: 1

    p
      margin: 0