a
  color: #ffa
  text-decoration: none

  &:hover
    text-decoration: underline

p
  font-family: $body-sans-serif
  font-size: 14px
  font-weight: 700
  line-height: 1.45em
  text-shadow: 0 1px 0 #0089c8

  &:first-of-type
    margin: 0.2em 0 1em 0

h1
  margin: 1em 0 0.2em 0
  text-shadow: 0 1px 0 #0089c8

h2
  text-shadow: 0 1px 0 #0089c8