.footer 
	width: 100% 
	height: 338px
	border-bottom: 22px solid $footer-bottom-border 
	.inner
		background-color : $footer-bg 
		width: 1000px
		margin-right: auto
		margin-left: auto
		color : $footer-text-color
