@import "../node_modules/zooniverse/css/zooniverse.css"
@import "../node_modules/zooniverse/css/profile.css"
@import "../node_modules/zootorial/zootorial.css"
@import "../node_modules/slide-tutorial/slide-tutorial.css"

@import "./common"
@import "./locales"
@import "./layout"
@import "./home"
@import "./tutorial"
@import "./classifier"
@import "./video.css"
@import "./sub-page"
@import "./slide-tutorial"

@import "./user-profile"
