
$reset-width = 150px
#reset
  background: none
  border: 0
  bottom: 50px
  color: #fff
  cursor: pointer
  font-size: 16px
  font-weight: 700
  left: calc(50% \- ($reset-width / 2))
  left: -webkit-calc(50% \- ($reset-width / 2))
  position: absolute
  text-shadow: 0 1px 0 #0089c8
  width: $reset-width
  z-index: 1

.stack > .scene
  height: 500px
  left: 0
  top: 100px
  width: 100%

  .sections
    @extends #site-container
    position: relative

  h1 
    font-size: 30px 
    font-weight: 700

  h3 
    font-size: 22px
    font-weight: 700
  p
    font-size: 14px

  section
    display: none
    height: 500px
    margin: 0 0 400px 0
    position: absolute
    top: 0
    width: 100%

    .left, .right
      position: absolute

    .left
      width: 400px

      .details
        left: 50px
        position: absolute
        text-align: right
        top: 100px
        width: 90px


    .right
      left: 420px
      top: 71px
      width: 540px

      p
        font-size: 16px
        font-weight: 700
        line-height: 1.5em
        margin-bottom: 40px

    img
      left: 150px
      position: absolute
      top: 0

      &.genes
        left: 165px
        top: 105px

      &.person
        left: 220px

      &.worm
        left: 165px

    // &:first-child

    // &:nth-child(2)

    &:nth-child(3)
      .explanation
        position: absolute
        text-align: center
        top: 400px
        width: 100%

    // &:nth-child(4)


