.slide-tutorial
  z-index: 100
  color: #003143
  background: rgba(0, 137, 200, 0.8)
  button
    cursor: pointer
  .slide-tutorial-container
    background: #ecf3f8
    border-radius: 5px
    max-width: 560px
    transition: width .7s
    .slide-tutorial-slide-bottom
      min-height: 160px
      h1
        text-shadow: initial
        text-align: center
      p
        text-shadow: initial
        font-weight: 300
        margin: 20px !important
      strong
        font-weight: 700
    .slide-tutorial-dots
      .slide-tutorial-dot
        background: #01bbfe
        cursor: pointer
        margin: 4px
        &.active
          background: #0089c8
    .slide-tutorial-close-button
      background: transparent
      font-size: 16px
      color: #fff
      border: none
  .slide-tutorial-next-button
    @extend #small-button
    width: 120px
    margin: 0 auto !important
    font-size: 14px
    background: #81e007
    padding: 0 13px
    text-shadow: 0 1px 0 rgba(255,255,255,0.75)
    box-shadow: none
  h1
    font-size: 30px

  @media screen and (max-width: 520px)
    .slide-tutorial-container
      margin-top: 25px
      .slide-tutorial-slide-bottom
        min-height: 100px
        p
          line-height: 1.2em
          font-size: 14px