
$reset-width = 150px
#reset
  background: none
  border: 0
  bottom: 50px
  color: #fff
  cursor: pointer
  font-size: 16px
  font-weight: 700
  left: calc(50% \- ($reset-width / 2))
  left: -webkit-calc(50% \- ($reset-width / 2))
  position: absolute
  text-shadow: 0 1px 0 #0089c8
  width: $reset-width
  z-index: 1

$slider-height = 500px

.stack > .slider
  height: $slider-height
  left: 0
  overflow: hidden
  width: 100%

  > #back, > #forward
    appearance: none
    background: none
    background-position: center
    background-repeat: no-repeat
    border: 0
    color: #fff
    height: $slider-height
    opacity: 0.35
    position: absolute
    transition: all 0.2s ease-in-out
    top: 0
    width: 100px
    z-index: 1

    &:hover
      opacity: 0.8

  > #back
    background-image: url("images/arrow-left.png")
    left: 0

  > #forward
    background-image: url("images/arrow-right.png")
    right: 0

  .section-container
    height: $slider-height
    position: relative

  h1 
    font-size: 30px 
    font-weight: 700

  h3 
    font-size: 22px
    font-weight: 700
  p
    font-size: 14px

  div.section
    float: left
    height: $slider-height

    .container
      @extends #site-container
      position: relative

    .left, .right
      position: absolute

    .left
      width: 400px

      .details
        left: 50px
        position: absolute
        text-align: right
        top: 101px
        width: 90px


    .right
      left: 420px
      top: 91px
      width: 540px

      p
        font-size: 16px
        font-weight: 700
        line-height: 1.5em
        margin-bottom: 40px

    img
      left: 150px
      position: absolute
      top: 0

      &.genes
        left: 155px
        top: 105px

      &.person
        left: 220px
        top: 20px

      &.worm
        left: 165px

  #classify-button
    bottom: 250px
    left: 44%
    position: absolute

  .sponsors-container
    @extends #site-container
    position: relative

  .sponsors
    border-top: 1px solid rgba(#fff, 0.2)
    bottom: 79px
    left: 42%
    padding-top: 8px
    position: absolute

    figure
      margin: 0
      padding: 0
      position: relative

      figcaption
        @extends p
        padding: 0 0 0 130px

      img
        left: 0
        position: absolute
        top: 2px


