.stack > .sub-page

  h1 
    font-size: 30px 
    font-weight: bold 

  h3 
    font-size: 22px
    font-weight: bold

  > div
      box-sizing: border-box
      display: inline-block
      vertical-align: top

  .left
    width: 330px

  .right
    width: 540px
