.stack > .sub-page
  padding-bottom: 70px
  max-width: 1000px
  width: 100%

  p
    font-weight: normal
    text-shadow: initial

  h1
    font-size: 30px
    font-weight: bold
    margin-bottom: 20px

    @media screen and (max-width: 1000px)
      padding: 0 10px

  h3
    font-size: 18px
    font-weight: bold
    margin-top: 0

  div.section
    padding: 0 0 20px 0
    min-height: 150px
    position: relative
    display: flex
    justify-content: space-around
    margin: 0 0 10px 0
    border-radius: 6px

    @media screen and (max-width: 768px)
      flex-direction: column
      text-align: center

    figure
      margin: 0 40px 0 0
      order: 1
      min-width: 150px

      img
        box-shadow: 0 0 10px 1px rgba(#000, 0.3)
        width: 150px

      @media screen and (max-width: 768px)
        margin: 20px 0


    div
      order: 2

  .left
    width: 39%

  .right
    width: 59%

    @media screen and (max-width: 768px)
      width: 98%
      margin: 0 auto

  .full-width
    width: 98%
    margin: 0 auto

  .body-copy
    background: #fff
    color: #014e6a
    border-radius: 6px
    padding: 20px
    font-weight: normal
    box-sizing: border-box

    a
      color: #81e007

