.zootorial-dialog
  background: #f2f2f2
  border-radius: 3px
  box-shadow: 0 0 25px 1px rgba(#000, 0.5)
  display: none
  max-width: 320px

  button[name="close-dialog"]
    appearance: none
    background: #ccc
    border: 0
    border-bottom: 1px solid #333
    border-left: 1px solid #333
    box-shadow: 0 0 2px 0 rgba(#000, 0.3)
    float: right
    margin: 0

  .dialog-content
    box-sizing: border-box
    font-size: 13px
    line-height: 1.4em
    padding: 9px 33px 6px 13px

    .header
      font-size: 15px
      font-weight: 700